@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <p class="navbar-text"><span class="text-primary">@User.Identity.GetUserName()</span></p>
        <ul class="nav navbar-nav navbar-right">
            <li role="separator" class="divider"></li>
            <li>@Html.ActionLink("Панель управления", "Index", "AdminPanel")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Выход</a></li>
        </ul>
    }
}
